@model IndexViewModel
@{
    ViewData["Title"] = "Index";
}

<div class="row">
    @foreach (var item in Model.Cocktails)
    {
        if (item.NotAvailable == false)
        {

            <div class="col-4 col-sm-6 mb-3">
                <div class="card-deck pt-2">
                    <div class="card bg-black-only" style="height: 340px">
                        <img class="card-img-top" src="@Html.DisplayFor(modelItem => item.PictureURL)"
                             alt="Bar Pic" style="width: 100%; height:140px">
                        <div class="card-body">
                            <h5 class="card-title text-center">
                                <strong>@Html.DisplayFor(modelItem => item.Name)</strong>
                                <br />
                                @for (int i = 0; i < @item.Rating; i++)
                                {
                                    <img src="~/lib/images/christmas_star.png" alt="Star" width="20">
                                }
                            </h5>
                            <p class="card-text text-center">
                                @*Igredients*@
                                @for (int i = 0; i < 2; i++)
                                {

                                    @Html.DisplayFor(modelItem => item.Ingredients[i].Name)
                                    if (Model.Cocktails.First().Ingredients.Count - 1 != i)
                                    {
                                        <span>,</span>
                                    }
                                }
                            </p>
                        </div>
                        <div class="card-footer">
                            <a id="bar-buttonD" asp-controller="Cocktail" asp-action="Details" asp-route-id="@item.Id">
                                <span data-title="Read More Info">
                                    <img src="~/lib/images/Magic-Hat-Transparent.png" alt="RateIt" width="25"> Read More Info!
                                    <img src="~/lib/images/Magic-Hat-Transparent.png" alt="RateIt" width="25">
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
</div>
