@model IReadOnlyCollection<CocktailViewModel>
@{
    ViewData["Title"] = "_SearchCoctailPartial";
}


<div class="row">
    @{ var counter = 5; }
    @foreach (var item in Model)
    {
        if (item.NotAvailable == false)
        {

            <div class="col-sm-3 pb-3">
                <div class="card-deck">
                    <div class="card bg-black-only">
                        <img src="@item.PictureURL" class="card-img-top" alt="Bar Pic" style="width: 100%; height:140px">
                        <div class="card-body">
                            <h5 class="card-title text-center">
                                <strong>@Html.DisplayFor(modelItem => item.Name)</strong>
                                <br />
                                @for (int i = 0; i < @item.Rating; i++)
                                {
                                    <img src="~/lib/images/christmas_star.png" alt="Star" width="20">
                                }
                            </h5>
                            <p class="card-text text-center">
                                @for (int i = 0; i < 2; i++)
                                {

                                    <div>
                                        @Html.DisplayFor(modelItem => item.Ingredients[i].Name)
                                        @*@Html.DisplayFor(modelItem => item.Ingredients[i].Quantity)
                                            @Html.DisplayFor(modelItem => item.Ingredients[i].Type)*@
                                    </div>
                                }
                                <span class="text-white " id="@item.Id" onclick="testing(this.id)">...@*Read more info*@</span>
                            </p>
                        </div>
                        @if (this.User.Identity.IsAuthenticated)
                        {
                            if (this.User.IsInRole("CocktailMagician"))
                            {
                                <div class="card-footer">
                                    <a id="bar-buttonD" asp-area="Magician" asp-controller="Cocktail" asp-action="Edit" asp-route-id="@item.Id">
                                        <span data-title="Edit!">
                                            <img src="~/lib/images/YellowFlask.png" alt="Edit" width="20"> Edit!
                                            <img src="~/lib/images/YellowFlask.png" alt="Edit" width="20">
                                        </span>
                                    </a>
                                    <a id="bar-buttonE" asp-area="Magician" asp-controller="Cocktail" asp-action="Delete" asp-route-id="@item.Id">
                                        <span data-title="Delete!">
                                            <img src="~/lib/images/RedFlask.png" alt="Delete" width="20"> Delete!
                                            <img src="~/lib/images/RedFlask.png" alt="Delete" width="20">
                                        </span>
                                    </a>
                                    <a id="bar-buttonD" asp-area="Magician" asp-controller="Cocktail" asp-action="Details" asp-route-id="@item.Id">
                                        <span data-title="Details!">
                                            <img src="~/lib/images/GreenFlask.png" alt="Details" width="20"> Details!
                                            <img src="~/lib/images/GreenFlask.png" alt="Details" width="20">
                                        </span>
                                    </a>
                                </div>
                            }
                        }
                        else
                        {
                            <div class="card-footer">
                                <a id="bar-buttonD" asp-action="Details" asp-route-id="@item.Id">
                                    <span data-title="Get More Info">
                                        <img src="~/lib/images/Magic-Hat-Transparent.png" alt="RateIt" width="25"> Get More Info!
                                        <img src="~/lib/images/Magic-Hat-Transparent.png" alt="RateIt" width="25">
                                    </span>
                                </a>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <p></p>
            if (counter % 4 == 0)
            {
            @:</div><div class="row">
                counter = 0;
            }
            counter++;

        }
    }
</div>

