@model CreateCocktailViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>CreateCocktailIngredientViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CocktailName" class="control-label"></label>
                <input asp-for="CocktailName" class="form-control" />
                <span asp-validation-for="CocktailName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PicUrl" class="control-label"></label>
                <input asp-for="PicUrl" class="form-control" />
                <span asp-validation-for="PicUrl" class="text-danger"></span>
            </div>
            <div class="form-group" id="add-here">
                <input style="display:none" id="qwe" />
                @*<datalist id="ingr">
                <option selected disabled value="">Select ingredient</option>
                @foreach (var item in Model.AllAllIngredients)
                {
                    //<div class="neshto" value="@item.Text" id="@item.Value"></div>
                    <option data-unit="@item.UnitType" data-name="@item.Name" id="@item.Id" onclick="Find(this.id)" value="@item.Id">@item.Name</option>
                }
            </datalist>*@
                <span>Ingredients</span>
                <select id="myList" asp-for="CocktailName">
                    <option value="Select ingredient" disabled="disabled" selected="selected"></option>
                    @foreach (var item in Model.AllAllIngredients)
                    {
                        <option data-unit="@item.UnitType" value="@item.Name" id="@item.Id">@item.Name</option>
                    }
                </select>
                <input id="quantityField" style="display:none" name="Quantity" value="" placeholder="Insert quantity value here..." />
                <input id="unitOfIngredient" disabled="disabled" style="display:none" name="Unit type" value="" />
                <input id="specIng" asp-for="SpecificIngredients" type="hidden" name="name" value="" />
            </div>
            <div class="form-group">
                <input id="sub" type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
            <ul id="selectedIngredients" name="Ingredients"></ul>
        <button id="addingredient" style="display:none">butonchence</button>
    </div>
</div>
<button id="test">Click me</button>
<div>
    <a asp-action="Index">Back to List</a>
</div>
<div>
</div>

@section Scripts {

    <script>
        let current = 0;
        let counter = 0;
        function Find(idd) {
            obj = {
                id: idd
            },
                console.log(idd);
            $.ajax({
                type: 'POST',
                url: 'SetIngredientUnit',
                data: obj,
                success: (result) => {
                    console.log(result);
                    let customId = 'testInputValue' + current;
                    document.getElementById(customId).value = `${result}`
                    //$(`#testInputValue${counter}`).value=result;
                    counter++;
                    console.log(counter);
                }
            })
        }
        let ingrClass;
        let specificIngredients = [];
        $(() => {
            //////let ing = $("#ingr").val();
            ////let unitType = $($("#ingr").val()).attr("data-unit");
            ////console.log($("#ingr"));
            ////console.log(unitType);
            //const ing = $("#ingr");
            ////console.log(ing);
            //const name = $("#ingr").children("option");
            //console.log(name);
            //let asd = $(name).attr("data-unit");
            ////console.log(asd);
            ////console.log($("#ingr").children(name).attr("data-unit"));
            //console.log($('option').length);
            ////$.ajax(() => {
            ////    url: 'controler/method'
            ////    type: 'POST'
            ////    data = {
            ////        'string id': id
            ////    };
            ////        success: function(response) {
            ////            `<>.append(response)`
            ////        }

            ////})
            $('#test').click(() => {
                const inputs = `<div>Ingredient ${current + 1}</div>
                                                                                <input id="pesho${counter}" list = "ingr" onchange="Find(this.value)" name="specificIngredients[${current}].IngredientId" placeholder="Select Ingredient..." type="" class="form-control">
                                                                                <input name="specificIngredients[${current}].quantity" placeholder="Quantity..." type="text" class="form-control" />
                                                                                <input value = "" disabled placeholder="Unit type.." type="text" class="form-control" id="testInputValue${counter}" />
                                                                                <hr>`
                current++;
                $('#add-here').append(inputs);
            })
        })

        $(() => {
            let counter = 0;
            let selectedItem = $("#myList");
            let quantity = $('#quantityField');
            let ingrUnit = $('#unitOfIngredient');
            var e = document.getElementById("myList");
            $('#myList').on("change", (idd) => {

                var strUser = e.options[e.selectedIndex].value;
                let ab = $("#myList option:selected");
                ab.hide();
                selectedItem.attr("disabled", true);
                let quantity = $('#quantityField');
                quantity.show();
                $("#addingredient").show();

                ingrUnit.show();
                console.log(selectedItem);
                ingrUnit.val(e[e.selectedIndex].dataset.unit);
            });

            $('#addingredient').on("click", () => {
                ingrClass = {
                    IngredientId: e.options[e.selectedIndex].id,
                    Quantity: quantity.val(),
                    name: selectedItem[0].value,
                };
                $('#selectedIngredients').append(`
                                 <li data-ingrid='${ingrClass.IngredientId}'>${ingrClass.name} - ${quantity.val()} (${ingrUnit.val()}) <button class="remove-ingr-btn">Remove</button></li>
                                                                             `);
                selectedItem.attr("disabled", false);
                e.selectedIndex = "0";
                specificIngredients.push(ingrClass);
                quantity.val("");
                ingrUnit.val("");
                console.log(specificIngredients);
            });
            $('#sub').on("click", () => {
                for (var i = 0; i < specificIngredients.length; i++) {
                    var a = `<input name="specificIngredients[${i}].quantity" value = "${specificIngredients[i].Quantity}" class="form-control">
                        <input  name="specificIngredients[${i}].IngredientId" value = "${specificIngredients[i].IngredientId}" class="form-control">`;
                    $('#specIng').append(a);
                }
            })

            $('#selectedIngredients').on('click', '.remove-ingr-btn', function (e) {
                const $parent = $(e.currentTarget).closest('li');
                const id = $parent.data('ingrid');
                $parent.remove();

                specificIngredients = specificIngredients.filter(ingr => ingr.IngredientId !== id);
            })
        })

                                                        //$(() => {
                                                        //    $('#ingr').on("change", () => {
                                                        //        $("#qwe").show();
                                                        //        $("#addingredient").show();
                                                        //    }).val()
                                                        //})

                                                        //$(() => {
                                                        //    $('#ingr').on("change", () => {
                                                        //        $("#qwe").show();
                                                        //        $("#addingredient").show();
                                                        //    })
                                                        //})
                                                        //$("#addingredient").on("click", () => {
                                                        //    let current = 0;
                                                            //const ing = $("#ingr").val();
                                                            //const quant = $("#qwe").val();
                                                            //const name = $(`#${ing}`).attr("data-name");
                                                            //console.log(name);
                                                        //    const input = `
                                                        //                        <input  value = "${ing}" name="specificIngredients[${current}].IngredientId"  class="form-control">
                                                        //                        <li name="specificIngredients[${current}].Quantity" class="form-control">${quant}</li>
                                                        //                        <li  name="specificIngredients[${current}].IngredientId" class="form-control">${name}</li>
                                                        //                        <hr>
                                                        //                        `
                                                        //    specificIngredients.push({ ingredientid: ing, quantity: quant, name: name });
                                                        //    console.log(specificIngredients);
                                                        //    $("#" + ing).hide();

                                                        //    $("#qwe").val("");
                                                        //    $("#qwe").hide();
                                                        //    $("#addigredient").hide();
                                                        //    $('#selectedIngredients').append(input);
                                                        //    current++;
                                                        //})
    </script>
}

