@model CreateCocktailViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>CreateCocktailIngredientViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CocktailName" class="control-label"></label>
                <input asp-for="CocktailName" class="form-control" />
                <span asp-validation-for="CocktailName" class="text-danger"></span>
            </div>
            <div class="form-group" id="add-here">
                <input style="display:none" id="qwe" />
                <datalist id="ingr">
                    <option selected disabled value="">Select ingredient</option>
                    @foreach (var item in Model.AllAllIngredients)
                    {
                        //<div class="neshto" value="@item.Text" id="@item.Value"></div>
                        <option data-unit="@item.UnitType" data-name="@item.Name" id="@item.Id" onclick="Find(this.id)" value="@item.Id">@item.Name</option>
                    }
                </datalist>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<button type="submit" id="addingredient" style="display:none">butonchence</button>
<button id="test">Click me</button>
<div>
    <a asp-action="Index">Back to List</a>
</div>
<div>
    <ul id="selectedIngredients">
        <li>Ingredients</li>
    </ul>
</div>

@section Scripts {

    <script>
        let current = 0;
            let counter = 0;
        function Find(idd) {
            obj = {
                id: idd
            },
            console.log(idd);
            $.ajax({
                type: 'POST',
                url: 'SetIngredientUnit',
                data: obj,
                success: (result) => {
                    console.log(result);
                    $(`#testInputValue${counter}`).val(result);
                    counter++;
                    console.log(counter);
                }
            })
        }
        let specificIngredients = new Array();
        $(() => {
            //////let ing = $("#ingr").val();
            ////let unitType = $($("#ingr").val()).attr("data-unit");
            ////console.log($("#ingr"));
            ////console.log(unitType);
            //const ing = $("#ingr");
            ////console.log(ing);
            //const name = $("#ingr").children("option");
            //console.log(name);
            //let asd = $(name).attr("data-unit");
            ////console.log(asd);
            ////console.log($("#ingr").children(name).attr("data-unit"));
            //console.log($('option').length);
            ////$.ajax(() => {
            ////    url: 'controler/method'
            ////    type: 'POST'
            ////    data = {
            ////        'string id': id
            ////    };
            ////        success: function(response) {
            ////            `<>.append(response)`
            ////        }

            ////})
            $('#test').click(() => {
                const inputs = `<div>Ingredient ${current + 1}</div>
                                        <input id="pesho" list = "ingr" onchange="Find(this.value)" name="specificIngredients[${current}].IngredientId" placeholder="Select Ingredient..." type="" class="form-control">
                                        <input name="specificIngredients[${current}].quantity" placeholder="Quantity..." type="text" class="form-control" />
                                        <input value = "" disabled placeholder="Unit type.." type="text" class="form-control" id="testInputValue${counter}" />
                                        <hr>`
                current++;
                $('#add-here').append(inputs);
            })
        })

        $(() => {
            $('#pesho').on("change", () => {
                $("#qwe").show();
                $("#addingredient").show();
            }).val()
        })

                //$(() => {
                //    $('#ingr').on("change", () => {
                //        $("#qwe").show();
                //        $("#addingredient").show();
                //    }).val()
                //})

                //$(() => {
                //    $('#ingr').on("change", () => {
                //        $("#qwe").show();
                //        $("#addingredient").show();
                //    })
                //})
                //$("#addingredient").on("click", () => {
                //    let current = 0;
                    //const ing = $("#ingr").val();
                    //const quant = $("#qwe").val();
                    //const name = $(`#${ing}`).attr("data-name");
                    //console.log(name);
                //    const input = `
                //                        <input  value = "${ing}" name="specificIngredients[${current}].IngredientId"  class="form-control">
                //                        <li name="specificIngredients[${current}].Quantity" class="form-control">${quant}</li>
                //                        <li  name="specificIngredients[${current}].IngredientId" class="form-control">${name}</li>
                //                        <hr>
                //                        `
                //    specificIngredients.push({ ingredientid: ing, quantity: quant, name: name });
                //    console.log(specificIngredients);
                //    $("#" + ing).hide();

                //    $("#qwe").val("");
                //    $("#qwe").hide();
                //    $("#addigredient").hide();
                //    $('#selectedIngredients').append(input);
                //    current++;
                //})
    </script>
}

