@model IriOnCocktailService.App.Areas.Magician.Models.DeleteCocktailViewModel

@{
    ViewData["Title"] = "Delete";
}

@*<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>DeleteCocktailViewModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PicUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PicUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Deleted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Deleted)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>*@


    <div class="bg-black" style="width: 60%; margin-left: 225px; margin-top: 50px;">
        <p class="login-text">
            <span>
                <img src="~/lib/images/delete.png" alt="CreateBar" width="50" style="border-radius: 50%;background-color: white;">
            </span>
        </p>
        <h3>Are you sure you want to delete <b class="text-danger font-italic">@Html.DisplayFor(model => model.Name)</b>?</h3>
        <div>
            <br />
            <form asp-action="Delete">
                <button type="submit" class="bar-buttonD border-0">
                    <span data-title="Delete!">
                        <img src="~/lib/images/RedFlask.png" alt="CreateBar" width="22"> Delete!
                        <img src="~/lib/images/RedFlask.png" alt="CreateBar" width="22">
                    </span>
                </button>
                <div>
                    <a asp-action="Index" class="bar-buttonD mt-3">
                        <span data-title="Back to List!">
                            <img src="~/lib/images/backArrow.png" alt="CreateBar" width="22"> Back to List!
                            <img src="~/lib/images/backArrow.png" alt="CreateBar" width="22">
                        </span>
                    </a>
                </div>
            </form>
        </div>
    </div>
