@model IriOnCocktailService.App.Areas.Magician.Models.CollectionViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Bars.First().Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bars.First().Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bars.First().PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bars.First().PictureURL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bars.First().Rating)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.NotAvailable)
                </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Bars)
        {
            if (item.NotAvailable == false)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PhoneNumber)
                    </td>
                    <td>
                        <img height="400" width="400" src="@Html.DisplayFor(modelItem => item.PictureURL)" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Rating)
                    </td>
                    @*<td>
                            @Html.DisplayFor(modelItem => item.NotAvailable)
                        </td>*@
                    <td>
                        <a asp-action="Details" asp-route-Id="@item.Id">Details</a>
                        <a asp-action="Rating" asp-route-id="@item.Id">Rate</a>
                        <a asp-action="Comment" asp-route-id="@item.Id">Comment</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>