@model IEnumerable<IriOnCocktailService.App.Areas.Magician.Models.CreateIngredientViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<section>
    <div class="tbl-header">
        <table cellpadding="0" cellspacing="0" border="0">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UnitType)
                    </th>
                    <th>
                        Edit
                    </th>
                    <th>
                        Delete
                    </th>
                </tr>
            </thead>
        </table>
    </div>
    <div class="tbl-content">
        <table cellpadding="0" cellspacing="0" border="0">
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <img src="~/lib/images/dropper.png" alt="BackToList" width="30">
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UnitType)
                        </td>
                        <td>
                            <a class="myButtonEdit" asp-action="Edit" asp-route-id="@item.Id"> 
                            <img src="~/lib/images/YellowFlask.png" alt="BackToList" width="20"> Edit</a>
                        </td>
                        <td>
                            <a class="myButtonDelete" asp-action="Delete" asp-route-id="@item.Id">
                            <img src="~/lib/images/RedFlask.png" alt="BackToList" width="20"> Delete!</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</section>
