@model IriOnCocktailService.App.Areas.Magician.Models.BarDetailsViewModel

@{
    ViewData["Title"] = "Details";
}
    <div class="container">
        <div id="container" style="width: 100%">
            <div class="product-details">
                <h1>@Model.Name</h1>
                <div>
                    @for (int i = 0; i < @Model.Rating; i++)
                    {
                        <img src="~/lib/images/christmas_star.png" alt="Star" width="20">
                    }
                </div>
                <br />
                <br />
                <br />
                @if (Model.Motto == null)
                {
                    <p class="information pb-5">No Motto available</p>
                }
                else
                {
                    <p class="information pb-5">"@Model.Motto"</p>
                }
            </div>
            <div class="product-image">
                <img id="img" src="@Model.PictureURL" alt="Omar Dsoky">
                <div class="info">
                    <h2>The Description</h2>
                    <ul>
                        <li><strong>Address: </strong>@Model.Address</li>
                        <li><strong>Phone Number: </strong>@Model.PhoneNumber</li>
                    </ul>
                </div>
            </div>
        </div>
        <div>
            @foreach (var item in Model.Cocktails)
            {
            <h1>
                @item.Name
            </h1>
            <img src="@item.PicUrl">
            }
        </div>
        <div id="div-comments" class="bg-black">
            <h3 class="font-italic font-weight-light">Comments!</h3>
            @if (Model.Comments.Any())
            {
                @foreach (var item in Model.Comments)
                {
                    <div class="text-muted">
                        <div class="text-left ml-3"> @item.Username</div>  <div class="text-right mt-n4 mr-3"> on @item.CreatedOn</div>
                    </div>
                    <p class="text-left ml-5" id="comments">
                        @item.Comment
                    </p>
                    <hr class="bg-white" />
                }
            }
            else
            {
                <h4 class="text-left ml-3 text-muted" id="comments">
                    No comments yet!
                </h4>
            }
        </div>
        @*<div id="div-comments" class="bg-black">
            <h3 class="font-italic font-weight-light">Cocktails!</h3>
            @if (Model.Cocktails.Any())
            {
                @foreach (var item in Model.Cocktails)
                {
                    <p class="text-left ml-5" id="comments">
                        @item.Name
                    </p>
                    <hr class="bg-white" />
                }
            }
            else
            {
                <h4 class="text-left ml-3 text-muted" id="comments">
                    No comments yet!
                </h4>
            }
        </div>*@
        <div>
            <a class="bar-buttonE mt-5" asp-action="Index">
                <span data-title="Back to List!">
                    <img src="~/lib/images/BookComment.png" alt="Details" width="20"> Back to List!
                    <img src="~/lib/images/BookComment.png" alt="Details" width="20">
                </span>
            </a>
        </div>
    </div>