@model IriOnCocktailService.App.Areas.Magician.Models.BarDetailsViewModel

@{
    ViewData["Title"] = "Details";
}
<h1>Details</h1>

<div>
    <h4>DisplayBarsViewModel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PictureURL)
        </dt>
        <dd class="col-sm-10">
            @*@Html.DisplayFor(model => model.PictureURL)*@
            <img src="@Html.DisplayFor(model => model.PictureURL)" alt="Alternate Text" />
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rating)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rating)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NotAvailable)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NotAvailable)
        </dd>
    </dl>
    <ul>
        @foreach (var item in Model.Comments)
        {
            <li>@item.Username: @item.Comment</li>
        }
    </ul>
    <ul>
        @*@foreach (var item in Model.Cocktails)
        {
            //TODO Carousel for cocktails
            <li> @item.Name</li>
        }*@
    </ul>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">
        EDIT
    </a>
    <a asp-action="ModifyBarCocktails" asp-route-id="@Model.Id">
        Add/Remove Cocktails
    </a>
    @*@Html.ActionLink("Edit", "Edit", "Bar", Model.Id)
        @Html.ActionLink("Add/Remove Cocktails", "ModifyBarCocktails", "Bar", Model.Id)*@

    <a asp-action="Index">Back to List</a>
</div>