@model IriOnCocktailService.App.Areas.Magician.Models.CollectionViewModel

@{
    ViewData["Title"] = "Index";
}

@*<div class="row">
        @{ var counter = 5; }
        @foreach (var item in Model.Cocktails)
        {
            if (item.NotAvailable == false)
            {

                <div class="col-sm-3">
                    <div class="card-deck">
                        <div class="card bg-black-only">
                            <img class="card-img-top" src="@Html.DisplayFor(modelItem => item.PictureURL)" alt="Bar Pic">
                            <div class="card-body">
                                <h5 class="card-title text-center">
                                    <strong>@Html.DisplayFor(modelItem => item.Name)</strong>
                                    <br />
                                    @for (int i = 0; i < @item.Rating; i++)
                                    {
                                        <img src="~/lib/images/christmas_star.png" alt="Star" width="20">
                                    }
                                </h5>
                                <p class="card-text text-center">
                                    Igredients
                                    @for (int i = 0; i < item.Ingredients.Count; i++)
                                    {

                                        <div>
                                            @Html.DisplayFor(modelItem => item.Ingredients[i].Name)
                                        </div>
                                    }
                                </p>
                            </div>
                            <div class="card-footer">
                                <a id="bar-buttonE" asp-action="Rating" asp-route-id="@item.Id">
                                    <span data-title="Rate it!">
                                        <img src="~/lib/images/RateIt.png" alt="RateIt" width="20"> Rate it!
                                        <img src="~/lib/images/RateIt.png" alt="RateIt" width="20">
                                    </span>
                                </a>
                                <a id="bar-buttonE" asp-action="Details" asp-route-id="@item.Id">
                                    <span data-title="Read More Info">
                                        <img src="~/lib/images/Magic-Hat-Transparent.png" alt="RateIt" width="25"> Read More Info!
                                        <img src="~/lib/images/Magic-Hat-Transparent.png" alt="RateIt" width="25">
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <p></p>
                if (counter % 4 == 0)
                {
                @:</div><div class="row">
                    counter = 0;
                }
                counter++;

            }
        }
    </div>*@

<div class="row">
    @{ var counter = 5; }
    @foreach (var item in Model.Cocktails)
    {
        if (item.NotAvailable == false)
        {

            <div class="col-sm-3 pb-3">
                <div class="card-deck">
                    <div class="card bg-black-only">
                        <img src="@item.PictureURL" class="card-img-top" alt="Bar Pic" style="width: 100%; height:140px">
                        <div class="card-body">
                            <h5 class="card-title text-center">
                                <strong>@Html.DisplayFor(modelItem => item.Name)</strong>
                                <br />
                                @for (int i = 0; i < @item.Rating; i++)
                                {
                                    <img src="~/lib/images/christmas_star.png" alt="Star" width="20">
                                }
                            </h5>
                            <p class="card-text text-center">
                                @for (int i = 0; i < 2; i++)
                                {

                                    <div>
                                        @Html.DisplayFor(modelItem => item.Ingredients[i].Name)
                                        @*@Html.DisplayFor(modelItem => item.Ingredients[i].Quantity)
                                            @Html.DisplayFor(modelItem => item.Ingredients[i].Type)*@
                                    </div>
                                }
                                <span class="text-white " id="@item.Id" onclick="testing(this.id)">...@*Read more info*@</span>
                                @*<span class="text-white" id="@item.Id+test" style="display:none">

                                        @for (int i = 2; i < item.Ingredients.Count; i++)
                                        {
                                            @Html.DisplayFor(modelItem => item.Ingredients[i].Name)
                                            @Html.DisplayFor(modelItem => item.Ingredients[i].Quantity)
                                            @Html.DisplayFor(modelItem => item.Ingredients[i].Type)
                                        }
                                    </span>*@
                            </p>
                        </div>
                        <div class="card-footer">
                            <a id="bar-buttonE" asp-action="Rating" asp-route-id="@item.Id">
                                <span data-title="Rate it!">
                                    <img src="~/lib/images/RateIt.png" alt="RateIt" width="20"> Rate it!
                                    <img src="~/lib/images/RateIt.png" alt="RateIt" width="20">
                                </span>
                            </a>
                            <a id="bar-buttonE" asp-action="Details" asp-route-id="@item.Id">
                                <span data-title="Read More Info">
                                    <img src="~/lib/images/Magic-Hat-Transparent.png" alt="RateIt" width="25"> Read More Info!
                                    <img src="~/lib/images/Magic-Hat-Transparent.png" alt="RateIt" width="25">
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <p></p>
            if (counter % 4 == 0)
            {
            @:</div><div class="row">
                counter = 0;
            }
            counter++;

        }
    }
</div>